* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(45deg, red, blue, yellow, purple);
  background-size: cover;
  max-width: 800px; /* Set your maximum width here */
  margin: 0 auto; /* Center the wrapper horizontally */
  padding: 20px; /* Add padding as needed */
  background-color: #f0f0f0; /* Optional background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  border: 3px solid rgb(132, 132, 218);
  border-radius: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: rgba(238, 219, 0, 0.25);
}

.menu a:hover {
  color: rgb(255, 11, 11);
}
.Home {
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.homepage {
  background-image: linear-gradient(red, blue);
  -webkit-background-clip: text;
  text-align: center;
  background-clip: text;
  color: transparent;
  margin: 20px;
}

.content {
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pac {
  width: 300px;
  box-shadow: 40px 30px 1px rgba(0, 0, 0, 0.5);
  height: 300px;
  display: flex;
  margin-left: 10%;
  margin-top: 18px;
}

.para1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  width: 50%;
  margin: 50px;
  border-color: rgb(61, 34, 183);
  border-width: 2px;
  border-style: dashed;
  color: rgb(22, 12, 24);
}

.para2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  margin: 15px;
  border: 2px solid greenyellow;
  border-color: rgb(21, 191, 135);
  border-width: 2px;
  color: red;
  width: 50%;
}
.para3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  margin: 15px;
  border: 2px solid greenyellow;
  border-color: rgb(21, 191, 135);
  border-width: 2px;
  color: red;
  width: 50%;
}
